h1 {
  font-family: serif;
  font-style: normal;
  color: brown;
  font-size: 50px;
  line-height: 1.1;
  border-bottom: 4px solid blue;
  display: inline-block;
}
/* ===throttle & debounced=== */

/* HTML CSS JS Result Skip Results Iframe */
body {
  color: white;
  font: 15px/1.51 system, -apple-system, ".SFNSText-Regular", "San Francisco",
    "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}
.item {
  border: 4px solid white;
  height: 120px;
  width: 100%;
  margin-bottom: 50px;
  background: #333;
  padding: 20px;
}

.color-1 {
  border-color: #9bffbb;
}
.color-2 {
  border-color: #b9c6ff;
}
.color-3 {
  border-color: #ffa3d8;
}
.color-4 {
  border-color: #ff8e9b;
}
